<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nFrickBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nFrickBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <nFrickBoard.Properties.Settings>
            <setting name="key0_Str" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>あんどぅ</string>
                        <string>ペースト</string>
                        <string>コピー</string>
                        <string>カット</string>
                        <string>りどぅ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key0_CD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ctrl + Z</string>
                        <string>Ctrl + V</string>
                        <string>Ctrl + C</string>
                        <string>Ctrl + X</string>
                        <string>Ctrl + Shift + Z</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key1_Str" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ブラシ</string>
                        <string>肉球</string>
                        <string>バケツ</string>
                        <string>回転</string>
                        <string>消しゴム</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key1_CD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B</string>
                        <string>num2</string>
                        <string>K</string>
                        <string>R</string>
                        <string>E</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key2_Str" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>自動選択</string>
                        <string>塗りつぶし</string>
                        <string>投げ縄</string>
                        <string>全選択</string>
                        <string>選択解除</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key2_CD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>W</string>
                        <string>Ctrl + F</string>
                        <string>L</string>
                        <string>Ctrl + A</string>
                        <string>Ctrl + D</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key3_Str" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>自動選択</string>
                        <string>塗りつぶし</string>
                        <string>投げ縄</string>
                        <string>全選択</string>
                        <string>選択解除</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key3_CD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>W</string>
                        <string>Ctrl + F</string>
                        <string>L</string>
                        <string>Ctrl + A</string>
                        <string>Ctrl + D</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key4_Str" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>自動選択</string>
                        <string>塗りつぶし</string>
                        <string>投げ縄</string>
                        <string>全選択</string>
                        <string>選択解除</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key4_CD" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>W</string>
                        <string>Ctrl + F</string>
                        <string>L</string>
                        <string>Ctrl + A</string>
                        <string>Ctrl + D</string>
                    </ArrayOfString>
                </value>
            </setting>
        </nFrickBoard.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <nFrickBoard.Properties.Settings>
            <setting name="KeyDef" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BackSpace 08</string>
                        <string>TAB 09</string>
                        <string>Shift 10</string>
                        <string>Ctrl 11</string>
                        <string>Alt 12</string>
                        <string>Esc 1B</string>
                        <string>Space 20</string>
                        <string>PageUp 21</string>
                        <string>PageDown 22</string>
                        <string>End 23</string>
                        <string>Home 24</string>
                        <string>← 25</string>
                        <string>↑ 26</string>
                        <string>→ 27</string>
                        <string>↓ 28</string>
                        <string>Ins 2D</string>
                        <string>Delete 2E</string>
                        <string>num0 60</string>
                        <string>num1 61</string>
                        <string>num2 62</string>
                        <string>num3 63</string>
                        <string>num4 64</string>
                        <string>num5 65</string>
                        <string>num6 66</string>
                        <string>num7 67</string>
                        <string>num8 68</string>
                        <string>num9 69</string>
                        <string>num* 6A</string>
                        <string>num+ 6B</string>
                        <string>num- 6D</string>
                        <string>num/ 6F</string>
                        <string>F1 70</string>
                        <string>F2 71</string>
                        <string>F3 72</string>
                        <string>F4 73</string>
                        <string>F5 74</string>
                        <string>F6 75</string>
                        <string>F7 76</string>
                        <string>F8 77</string>
                        <string>F9 78</string>
                        <string>F10 79</string>
                        <string>F11 7A</string>
                        <string>F12 7B</string>
                        <string>: BA</string>
                        <string>; BB</string>
                        <string>, BC</string>
                        <string>- BD</string>
                        <string>. BE</string>
                        <string>/ BF</string>
                        <string>@ C0</string>
                        <string>[ DB</string>
                        <string>] DD</string>
                        <string>^ DE</string>
                    </ArrayOfString>
                </value>
            </setting>
        </nFrickBoard.Properties.Settings>
    </applicationSettings>
</configuration>